# ==============================
# Application
# ==============================

# Port where the NestJS server runs
PORT=3000


# ==============================
# Database
# ==============================

# MySQL connection string format:
# mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL="mysql://root:123@localhost:3307/retech_db"

# ==============================
# JWT Authentication
# ==============================

# Secret key used to sign JWT tokens
JWT_SECRET="your_super_secret_key_here"

# Token expiration time (examples: 1h, 7d, 30m)
JWT_EXPIRES_IN=1h

ADMIN_EMAIL= "admin@gmail.com"
ADMIN_PASSWORD= "admin123"